<<<<<<< HEAD
<div id="messages">
=======
0<div id="messages">
>>>>>>> b30db50f9f8ba164b280a36c9dbb40e3a81fff82
  <% @conversation.messages.each do |message| %>
    <% if message.body %>
      <div class="media">
        <div class="media-left">
          <%= image_tag message.user.image.thumb, class: "media-object user-img", alt: message.user.name %>
        </div>
        <div class="media-body">
          <h5 class="media-heading"><%= message.user.name %> <small class="text-muted"><%= message.time %></small></h5>
          <p><%= message.body %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= form_for [@conversation, @message] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, autofocus: true, placeholder: "Your message", class: "form-control", rows: 5 %>
  </div>

  <%= f.submit "Send", class: "btn btn-primary pull-right" %>
<<<<<<< HEAD
<% end %>
=======
<% end %>
>>>>>>> b30db50f9f8ba164b280a36c9dbb40e3a81fff82
