<div class="container" id="reviews">
  <h2 class="mt-4 mb-5">List of reviews</h2>
  <p v-if="listLength == 0">Uh Oh! There's no reviews right now!
    <span><%= link_to 'Rate & Review now!', new_review_path %></span>
  </p>
  <table v-if="listLength > 0" class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Rating</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <% @reviews.each do |review| %>
      <tr>
        <td>
          <%= review.title %>
        </td>
        <td>
          <%= review.author %>
        </td>
        <td>
          <%= review.rating %>
        </td>
        <td>
          <%= link_to 'Show', review_path(review), class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Edit', edit_review_path(review), class: 'ml-2 btn btn-warning text-white btn-sm'%>
          <%= link_to 'Delete',
                            review_path(review),
                            method: :delete,
                            data: { confirm: 'Are you sure?' }, 
                            class: 'ml-2 btn btn-danger btn-sm'%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  
  // Javascript to display different elements depending on length of @reviews
  var showReviews = new Vue({
    el: '#reviews',
    computed: {
      listLength() {
        return '<%= @reviews.length %>';
      }
    }
  })
  
</script>

